@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.projectPhotoNestV2 {
  width: 100%;
  scroll-margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  &__card {
    color: $CloudWhite;
    background-color: $Terracota;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 1.5rem;

    @include phablet {
      padding: 4rem 2rem;
    }

    @include tablet {
      padding: 5rem 2.5rem;
    }

    @include laptop {
      padding: 6rem 3rem;
    }

    @include desktop {
      padding: 7rem 3.5rem;
    }

    @include wide {
      padding: 8rem 4rem;
    }
  }

  &__subcard {
    width: 75%;
    display: flex;
    border: 1px solid $FreshCream;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    @include phablet {
      width: 76%;
    }

    @include tablet {
      width: 77%;
    }

    @include laptop {
      width: 78%;
    }

    @include desktop {
      width: 79%;
    }

    @include wide {
      width: 80%;
    }
  }

  &__img {
    width: 160%;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem 2.5rem;

    @include phablet {
      padding: 1rem 4rem;
    }

    @include tablet {
      padding: 1.25rem 5rem;
    }

    @include laptop {
      padding: 1.5rem 6rem;
    }

    @include desktop {
      padding: 1.75rem 7rem;
    }

    @include wide {
      padding: 2rem 8rem;
    }
  }

  &__subtitle {
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    align-content: center;

    @include phablet {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: row;
    }

    @include laptop {
      flex-direction: row;
    }

    @include desktop {
      flex-direction: row;
    }

    @include wide {
      flex-direction: row;
    }
  }

  &__btn {
    @include button;
  }

  &__link {
    @include link;
  }
}
