@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

body {
  font-family: "SourceCodePro", "Menlo", "Courier New", monospace;
  font-weight: 400;
  height: 100%;
}

:root {
  font-size: 100% !important;
}

* {
  padding: 0;
  margin: 0;
}

//page headers
h1 {
  font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2rem;

  @include largemobile {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 2.25rem;
  }

  @include tablet {
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.5rem;
  }

  @include largetablet {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 2.75rem;
  }

  @include desktop {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 3rem;
  }

  @include largedesktop {
    font-size: 4rem;
    font-weight: 700;
    line-height: 3.25rem;
  }
}

//section header
h2 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;

  @include largemobile {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  @include tablet {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  @include largetablet {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  @include desktop {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  @include largedesktop {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
}

//subheader
h3 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;

  @include largemobile {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
  }

  @include tablet {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
  }

  @include largetablet {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5625rem;
  }

  @include largedesktop {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.5625rem;
  }
}

//body copy
h4,
p {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

//labels&buttons
h5 {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.75rem;
  }

  @include desktop {
    font-size: 0.75rem;
  }
}
