@use "../../styles/partials/variables" as *;

@mixin largemobile {
  @media (min-width: $largemobile-min-width) and (max-width: $largemobile-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin largetablet {
  @media (min-width: $largetablet-min-width) and (max-width: $largetablet-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min-width) and (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin selected-state {
  width: 100%;
  max-width: 10.3125rem;
  color: $StormCloud;
  padding: 0.5rem 0;
  background-color: $Midnight;
  border-bottom: 1px solid $Midnight;
  border-radius: 20px;
}
