@use "../../styles/partials/variables" as *;

@mixin phablet {
  @media (min-width: $phablet-min-width) and (max-width: $phablet-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop-min-width) and (max-width: $laptop-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min-width) and (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin wide {
  @media (min-width: $wide-min-width) and (max-width: $wide-max-width) {
    @content;
  }
}

@mixin ultrahd {
  @media (min-width: $ultrahd-min-width) and (max-width: $ultrahd-max-width) {
    @content;
  }
}

@mixin retina {
  @media (min-width: $retina-min-width) and (max-width: $retina-max-width) {
    @content;
  }
}

@mixin selected-state {
  width: 100%;
  max-width: 10.3125rem;
  color: $StormCloud;
  padding: 0.5rem 0;
  background-color: $Midnight;
  border-bottom: 1px solid $Midnight;
  border-radius: 20px;
}

@mixin link {
  color: $Midnight;
  text-decoration: none;

  &:hover {
    color: $Terracota;
    cursor: pointer;
  }
}

@mixin button {
  width: 10rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.75rem 1rem;
  border: 1px solid $FreshCream;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
  }
}

@mixin padding-title {
  padding: 1.5rem 3rem;

  @include phablet {
    padding: 1.5rem 3rem;
  }

  @include tablet {
    padding: 2rem 3.5rem;
  }

  @include laptop {
    padding: 2rem 3.5rem;
  }

  @include desktop {
    padding: 2.5rem 4rem;
  }

  @include wide {
    padding: 2.5rem 4rem;
  }

  @include ultrahd {
    padding: 3rem 4.5rem;
  }

  @include retina {
    padding: 3.5rem 5rem;
  }
}

@mixin padding-container {
  padding: 1rem 2.5rem;

  @include phablet {
    padding: 0rem 3rem 1.5rem 3rem;
  }

  @include tablet {
    padding: 0rem 3.5rem 2rem 3.5rem;
  }

  @include laptop {
    padding: 0rem 4rem 2.5rem 4rem;
  }

  @include desktop {
    padding: 0rem 4.5rem 3rem 4.5rem;
  }

  @include wide {
    padding: 0rem 5rem 3.5rem 5rem;
  }

  @include ultrahd {
    padding: 0rem 5.5rem 4rem 5.5rem;
  }

  @include retina {
    padding: 0rem 6rem 4.5rem 6rem;
  }
}

@mixin flex-display {
  display: flex;
  flex-direction: column;

  @include phablet {
    flex-direction: row;
  }

  @include tablet {
    flex-direction: row;
  }

  @include laptop {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: row;
  }

  @include wide {
    flex-direction: row;
  }

  @include ultrahd {
    flex-direction: row;
  }

  @include retina {
     flex-direction: row;
  }
}

@mixin flex-center {
  display: flex;

  @include phablet {
    flex: 1;
  }

  @include tablet {
    flex: 1;
  }

  @include laptop {
    flex: 1;
  }

  @include desktop {
    flex: 1;
  }

  @include wide {
    flex: 1;
  }

  @include ultrahd {
    flex: 1;
  }

  @include retina {
    flex: 1;
  }
}
