@use "../../styles/partials/variables" as *;

@mixin phablet {
  @media (min-width: $phablet-min-width) and (max-width: $phablet-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop-min-width) and (max-width: $laptop-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min-width) and (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin wide {
  @media (min-width: $wide-min-width) and (max-width: $wide-max-width) {
    @content;
  }
}

@mixin ultrahd {
  @media (min-width: $ultrahd-min-width) and (max-width: $ultrahd-max-width) {
    @content;
  }
}

@mixin retina {
  @media (min-width: $retina-min-width) and (max-width: $retina-max-width) {
    @content;
  }
}

@mixin selected-state {
  width: 100%;
  max-width: 10.3125rem;
  color: $StormCloud;
  padding: 0.5rem 0;
  background-color: $Midnight;
  border-bottom: 1px solid $Midnight;
  border-radius: 20px;
}

@mixin link {
  color: $Terracota;
  text-decoration: none;

  &:hover {
    color: $Oat;
    cursor: pointer;
  }
}

@mixin button {
  width: 10rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.75rem 1rem;
  border: 1px solid $FreshCream;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
  }
}
