//375px - Mobile
$mobile-min-width: 375px;
$mobile-max-width: 480px;

//640px - Large Mobile
$largemobile-min-width: 481px;
$largemobile-max-width: 767px;

//768px - Tablet
$tablet-min-width: 768px;
$tablet-max-width: 1023px;

//1024px - Largetablet
$largetablet-min-width: 1024px;
$largetablet-max-width: 1279px;

//1280px - Desktop
$desktop-min-width: 1280px;
$desktop-max-width: 1439px;

//1440px - Large Desktop
$largedesktop-min-width: 1440px;
$largedesktop-max-width: 1599px;

//1600px - Extra Large Desktop
$extralargedesktop-min-width: 1600px;
$extralargedesktop-max-width: 1920px;

//colors
// $White: #ffffff;
$CloudWhite: #fefcf6;
$FreshCream: #f4efe6;
$Canvas: #eae6e0;
$Blanket: #f2e0cf;
$Oat: #c9c3bd;
$Oak: #a6886d;
$Terracota: #854628;

$Moss: #7c7458;
$StormCloud: #686867;
$ForestGreen: #6b705b;

// $Kimber: #413331;
$Midnight: #262626;
$Charcoal: #1c1c1c;
$Slate: #535366;

