//375px
$mobile-min-width: 375px;
$mobile-max-width: 767px;

//768px
$tablet-min-width: 768px;
$tablet-max-width: 1279px;

//1280px
$desktop-min-width: 1280px;
$desktop-max-width: 1920px;

//colors
$White: #ffffff;
$primary-CloudWhite: #fefcf6;
$secondary-FreshCream: #f4efe6;

$Midnight: #162a2c;
$SkyBlue: #d6e0e2;
$StormCloud: #686867;
$ForestGreen: #5e6c5b;
