@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.skills {
  width: 100%;
  height: 100vh;
  background-color: $Canvas;
  box-sizing: border-box;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__title {
    display: flex;
    @include padding-title;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    @include padding-container;

    @include phablet {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include laptop {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include wide {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include ultrahd {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include retina {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__card {
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem 0;
    border: 1px solid $Midnight;
    border-radius: 5px;

    @include phablet {
      width: 83%;
    }

    @include tablet {
      width: 75%;
    }

    @include laptop {
      width: 47%;
    }

    @include desktop {
      width: 35%;
    }

    @include wide {
      width: 32%;
    }

    @include ultrahd {
      width: 30%;
    }

    @include retina {
      width: 30%;
    }
  }

  &__subtitle {
    padding: 0 1rem;
  }

  &__subcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 1rem 0;
    border-top: 1.5px solid $Midnight;

    @include phablet {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include tablet {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include laptop {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include desktop {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include wide {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include ultrahd {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include retina {
      flex-wrap: nowrap;
      gap: 0;
    }
  }

  &__icons {
    box-sizing: border-box;
    width: 100%;
    height: 3.5rem;

    &--wide {
      display: flex;
      width: 5rem;
    }
  }

  &__text {
    display: flex;
    align-items: center;
  }
}
