@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.skills {
  width: 100%;
  height: 100vh;
  background-color: $Canvas;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  overflow: scroll;

  @include phablet {
    padding: 3rem;
  }

  @include tablet {
    padding: 4.5rem;
  }

  @include laptop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 4.25rem;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 6rem;
  }

  @include wide {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 6.5rem;
  }

  @include ultrahd {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 6.75rem;
  }

  @include retina {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 7rem;
  }

  &__title {
    @include tablet {
      padding: 0 1.5rem;
    }

    @include desktop {
      padding: 0 5.25rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @include phablet {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include laptop {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 3rem;
    }

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 3rem;
    }

    @include wide {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 3rem;
    }

    @include ultrahd {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 4rem;
    }

    @include retina {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 4.5rem;
    }
  }

  &__card {
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem 0;
    border: 1px solid $Midnight;
    border-radius: 5px;

    @include phablet {
      width: 83%;
    }

    @include tablet {
      width: 75%;
    }

    @include laptop {
      width: 47%;
    }

    @include desktop {
      width: 30%;
    }

    @include wide {
      width: 30%;
    }

    @include ultrahd {
      width: 23%;
    }

    @include retina {
      width: 23%;
    }
  }

  &__subtitle {
    padding: 0 1rem;
  }

  &__subcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 1rem 0;
    border-top: 1.5px solid $Midnight;

    @include phablet {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include tablet {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include laptop {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include desktop {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include wide {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include ultrahd {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include retina {
      flex-wrap: nowrap;
      gap: 0;
    }
  }

  &__icons {
    box-sizing: border-box;
    width: 100%;
    height: 3.5rem;

    &--wide {
      display: flex;
      width: 5rem;
    }
  }

  &__text {
    display: flex;
    align-items: center;
  }
}
