@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.hero {
    background-color: $FreshCream;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}