@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.about {
  width: 100%;
  height: 100vh;
  background-color: $CloudWhite;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  overflow: none;

  &__container {
    display: flex;
    flex-direction: column;
    @include padding-container;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include padding-title;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__subdetails {
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    overflow-x: auto;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  &__card {
    min-width: 18.3125rem;
    height: 42rem;
    box-sizing: border-box;
    overflow: auto;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 1.5rem;

    //frost glass effect
    background: rgba(220, 210, 200, 0.4);
    text-align: center;
    border-radius: 1.25rem;
    border: 1px solid rgba(220, 210, 200, 0.3);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);

    @include phablet {
      flex-direction: column;
      flex: 0 0 33.875rem;
      gap: 2rem;
    }

    @include tablet {
      height: 40rem;
      flex-direction: row;
      flex: 0 0 41rem;
      align-items: center;
      gap: 3rem;
    }

    @include laptop {
      // overflow: hidden;
      flex-direction: row;
      flex: 0 0 56rem;
      align-items: center;
      gap: 4rem;
    }

    @include desktop {
      // overflow: hidden;
      flex-direction: row;
      flex: 0 0 71rem;
      align-items: center;
      gap: 5rem;
    }

    @include wide {
      // overflow: hidden;
      flex-direction: row;
      flex: 0 0 80rem;
      align-items: center;
      gap: 6rem;
    }

    @include ultrahd {
      // overflow: hidden;
      flex-direction: row;
      flex: 0 0 84.875rem;
      align-items: center;
      gap: 6rem;
    }

    @include retina {
      // overflow: hidden;
      flex-direction: row;  
      flex: 0 0 104.875rem;
      align-items: center;
      gap: 6rem;
    }
  }

  &__story {
    width: 100%;
    line-height: 1.5rem;
  }

  &__img {
    box-sizing: border-box;
    width: 60%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;

    @include phablet {
      width: 50%;
    }

    @include tablet {
      width: 40%;
    }

    @include laptop {
      width: 30%;
    }

    @include desktop {
      width: 29%;
    }

    @include wide {
      width: 28%;
    }

    @include ultrahd {
      width: 27%;
    }

    @include retina {
      width: 26%;
    }
  }
}
