@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $CloudWhite;
    padding: 1.5rem;
}