@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.about {
    height: 100vh;
    background-color: $CloudWhite;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    overflow: scroll;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    &__story {
        line-height: 1.5rem;
    }
}