@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.projects {
  background-color: $Moss; //TODO: remove this color, temporary
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // padding-top: 1.5rem;
  // padding: 1.5rem;
  // margin-top: 3rem;

  &__title {
    color: $FreshCream;
    padding: 1.5rem;
  }

  &__card {
    background-color: $CloudWhite;
    padding: 1.5rem;
  }

  &__subcard {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid $ForestGreen;
  }

  &__link {
    color: $Midnight;
    text-decoration: none;
  }

}
