@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.projects {
  background-color: $Oat; //TODO: remove this color, temporary
  padding: 1.5rem;
  margin-top: 3rem;

  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  &__sections {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
  }
}
