@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.footer {
    background-color: $CloudWhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;

    &__logo {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &__attributes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        color: $Slate;
    }

    &__link {
        color: $Slate;
        text-decoration: none;
    }
}