@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.landing {
  height: 100vh;
  background-color: $Midnight;
  // background-image: url("../../assets/images/DSC00278.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 120%;
    object-fit: cover;
    opacity: 0.86;
  }

  &__hero {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__title {
    width: 100%;
    z-index: 1;
    font-family: "ComforterBrush", "cursive";
    font-size: 4rem;
    line-height: 6.5rem;
    text-align: center;
    color: $CloudWhite;
    clip-path: inset(0 100% 0 0);
    animation: revealText 4s linear forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include phablet {
      font-size: 6rem;
      line-height: 7rem;
    }

    @include tablet {
      font-size: 7rem;
      line-height: 8rem;
    }

    @include laptop {
      font-size: 8rem;
      line-height: 9rem;
    }

    @include desktop {
      font-size: 9rem;
      line-height: 10rem;
    }

    @include wide {
      font-size: 10rem;
      line-height: 11rem;
    }

    @include ultrahd {
      font-size: 11rem;
      line-height: 12rem;
    }

    @include retina {
      font-size: 12rem;
      line-height: 13rem;
    }
  }

  &__animate {
    &--underline {
      width: 75%;
      height: auto;
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
      clip-path: inset(0 100% 0 0);
      animation: revealLine 1s linear 4s forwards;

      @include phablet {
        width: 66%;
        top: 62%;
      }

      @include tablet {
        width: 63%;
        top: 64%;
        left: 51%;
      }

      @include laptop {
        width: 54%;
        top: 64%;
        left: 51%;
      }

      @include desktop {
        width: 49%;
        top: 65%;
        left: 50.5%;
      }

      @include wide {
        animation-delay: 3s;
        width: 48%;
        top: 68%;
        left: 50.5%;
      }

      @include ultrahd {
        animation-delay: 3.5s;
        width: 48%;
        top: 70%;
        left: 51%;
      }

      @include retina {
        animation-delay: 3.5s;
        width: 47%;
        top: 72%;
        left: 51.5%;
      }
    }

    &--pulse {
      height: 5rem;
      box-sizing: border-box;
      position: absolute;
      top: 15%;
      left: 5%;
      animation: pulse 2s infinite;
    }

    &--slow {
      height: 2rem;
      box-sizing: border-box;
      position: absolute;
      bottom: 31%;
      right: 3%;
      animation: twinkle 3s infinite ease-in-out;

      @include tablet {
        bottom: 18%;
        right: 7%;
      }

      @include laptop {
        bottom: 18%;
        right: 7%;
      }

      @include desktop {
        bottom: 18%;
        right: 7%;
      }

      @include wide {
        bottom: 15%;
        right: 10%;
      }
    }

    &--twinkle {
      height: 4rem;
      box-sizing: border-box;
      position: absolute;
      bottom: 15%;
      right: 5%;
      animation: twinkle 2s infinite ease-in-out;

      @include tablet {
        bottom: 6%;
        right: 9%;
      }

      @include laptop {
        bottom: 6%;
        right: 9%;
      }

      @include desktop {
        bottom: 6%;
        right: 9%;
      }

      @include wide {
        bottom: 9%;
        right: 12%;
      }
    }

    &--flicker {
      height: 4rem;
      box-sizing: border-box;
      position: absolute;
      top: 34%;
      right: 8%;
      animation: flicker 1s infinite ease-in-out;

      @include phablet {
        top: 30%;
        right: 13%;
      }

      @include tablet {
        top: 30%;
        right: 16%;
      }

      @include laptop {
        top: 34%;
        right: 21%;
      }

      @include desktop {
        top: 34%;
        right: 24%;
      }

      @include wide {
        top: 38%;
        right: 28.75%;
      }

      @include ultrahd {
        top: 27%;
        right: 24.75%;
      }

      @include retina {
        top: 25%;
        right: 20.75%;
      }
    }
  }
}

@keyframes revealText {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealLine {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.2;
  }
  30%,
  50%,
  70% {
    opacity: 0.5;
  }
  40%,
  60%,
  80% {
    opacity: 0.9;
  }
}
